table.desc,tr,th,td{
    border:1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

ul{
    list-style-type: none;
}
.list{
    width: 80px;
    height: 80px;
    border:1px solid grey;
}
img{
    width:100%;
    height:auto;
}
.imgcont{
    position: sticky;
    top: 5px;
    background-color: white;
    height: 100%;
}
.cart-btn{
    border-radius:30px;
    right:5px;
    margin-left: 5px; 
    margin-top:5px;         
}
.user{
border-radius:20px;
padding-left: 7px;
padding-right: 7px;
right:5px;
margin-left: 5px; 
margin-top:5px;
}
.acc{
position: fixed;
display:none;
right:5px;  
top:60px;
z-index: 1;
} 
.sign,.cart{
position: fixed;
background-color:rgba(0, 0, 0, 0.6);
display: none;
z-index: 1;
left: 0;
top:0;
width: 100%;
height: 100%;
}
.form{
background-color:white;
width:40%;
margin-left:30%;
margin-top:9%;
}
::placeholder{
font-size:17px; 
}
.but{
padding:6px;
background-color:rgb(0, 153, 255);
color:white;
font-size:17px;
border-radius: 30px;
margin-left:70%;
}
.input{
padding:10px;
width:80%;
margin-left:10%;
}
.brand{
display:none;
}


